# $Id: build.config,v 1.19 2005/04/08 18:39:22 christian Exp $
project.type = library
project.prefix = y60
project.name = render

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

frameworks.osx = Cg, OpenGL, Carbon 

# temporarily disable CG on osx until Nvidia fixes it's stuff
extra.defines.osx = _AC_NO_CG_

extra.include.dir.osx = /usr/X11R6/include

variant.libraries          = aslbase, aslmath, domxml, y60scene, y60base, y60glutil, y60gltext, aslzip, \
                                  y60image, y60video, paintlib

external.libraries.osx = avcodec, avformat

variant.test.libraries          = aslbase, aslmath, domxml, y60scene, y60base, y60glutil, y60gltext, aslzip, \
                                  y60image, y60video, paintlib
external.test.libraries = avcodec, avformat, Cg, CgGL
external.test.libraries.linux   = pthread, rt , png, tiff, jpeg, gif, GL, GLU, curl, freetype, asound
external.test.libraries.windows = libpng, libtiff, libjpeg, libungif, OpenGL32, GLU32, libcurl, \
                                  pthreadVC, gdi32, user32, freetype200MT, advapi32, shell32, \
                                  libgcc, dxguid, dsound, Imath, Glib-2.0

exclude.source.files.windows =
exclude.source.files.linux =
exclude.source.files.osx = CgProgramInfo.h CgProgramInfo.cpp CGShader.h CGShader.cpp

exclude.test.sources.windows =
exclude.test.sources.osx = testCgShaders.tst.cpp
