# $Id: build.config,v 1.5 2004/10/25 08:58:24 martin Exp $
project.type = library
project.prefix = y60
project.name = input

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external libraries = 

variant.test.libraries          = aslbase, aslmath, domxml
external.test.libraries.linux   = pthread, rt
external.test.libraries.windows = pthreadVC, user32, winmm, ws2_32, Shell32, AdvAPI32, Glib-2.0
external.test.libraries         =

exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources.windows =
