## Name of the library/application
project.type = application
project.name = GenMovie

# Comma separated list of Names of
# external libraries
external.libraries =
external.libraries.windows =  pthreadVC, gdi32, user32, libcurl, shell32, advapi32, \
                               libpng, libtiff, libjpeg, libungif, Imath
external.libraries.linux = GLU, GL, pthread, rt, curl, gif, png, tiff, jpeg, avcodec, avformat, asound, Half


# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase, aslmath, aslzip, asldom, y60base, y60image, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
exclude.test.sources =
exclude.test.sources.windows =

# Comma separated list of
# external libraries for tests
# external.test.libraries =
external.test.libraries.windows =

# Comma separated list of
# variant libraries for tests
variant.test.sources =
variant.test.libraries =
