<settings>
    <EdgeBlender>
        <mode min="1" max="3" step="1" help="1=multi-screen, 2=multi-pc, 3=both">3</mode>
        <edges min="1" max="15" step="1" help="bit-wise logical combination of left=1, right=2, up=4, down=8">15</edges>
        <rows min="1" max="4" step="1" help="number of screen rows">2.00000</rows>
        <columns min="1" max="4" step="1" help="number of screen columns">2</columns>
        <blendwidth step="1" help="width of the blend area in pixels">[96,96]</blendwidth>
        <subdivisions min="1" max="64" step="1" help="">16</subdivisions>
        <blacklevel min="0.0" max="1.0" step="0.01" help="black level compensation">0.0</blacklevel>
        <power min="1.0" max="3.0" step="0.05" help="exponent of the blend function">3.00</power>
        <gamma min="1.0" max="3.0" step="0.01" help="gamma correction (typically between 1.8 and 2.2)">2.00</gamma>
        <preGridFlag min="0" max="1" step="1" help="show/hide pre-blend grid">0</preGridFlag>
        <postGridFlag min="0" max="1" step="1" help="show/hide post-blend grid">0</postGridFlag>
        <blendingFlag min="0" max="1" step="1" help="activate/deactivate the blending function">1</blendingFlag>
        <debug min="0" max="1" step="1" help="debug mode flag">0</debug>
        <blacklevelFlag min="0" max="1" step="1" help="activate/deactivate black level">0</blacklevelFlag>
        <copyFrameBufferFlag min="0" max="1" step="1" help="activate/deactivate copying to frame buffer">0</copyFrameBufferFlag>
        <frameBufferArea help="defines area that is copied to frame buffer">[0,1046,1400,280]</frameBufferArea>
        <blacklevelposoffset help="black level offset">[0.0,0.0]</blacklevelposoffset>
        <roughCalibrationMode min="0" max="1" step="1" help="show/hide calibration blocks for rough pre-calibration">1.00000</roughCalibrationMode>
    </EdgeBlender>
</settings>
