project.type = library
project.prefix = paintlib
project.name =

extra.defines.linux =
extra.defines.osx   = LIBTIFF_MACOSX
extra.defines.windows = _WINDOWS

extra.include.dir = .;../config;Filter
extra.include.dir.windows = win;${env.PRO}/extern/win/paintlib_dependencies/libtiff;${env.PRO}/extern/win/paintlib_dependencies/libjpeg;${env.PRO}/extern/win/paintlib_dependencies/libpng;${env.PRO}/include/zlib;${env.PRO}/extern/win/paintlib_dependencies/libungif

# release.linker.options.osx = -install_name ${env.PRO}/lib/libpaintlibOPT.dylib
# debug.linker.options.osx = -install_name ${env.PRO}/lib/libpaintlibDBG.dylib

# frameworks.osx = Carbon, ApplicationServices

source.files = *.c, *.cpp, Filter/*.cpp, test/*.cpp
header.files = *.h, Filter/*.h, win/*.h
source.files.windows = win/*.cpp
test.sources = test/testpaintlib.cpp
test.exe.mapping.from = test*.cpp
exclude.header.files = test/*

exclude.source.files = pldirectfbbmp.cpp, pldicomdec.cpp, plsdlbmp.cpp, test/testpaintlib.cpp

external.libraries.linux = Half, Iex
external.libraries.windows = Imath
external.libraries.osx = curl, png, z, Half, tiff, gifac, jpeg
# external.libraries.osx = curl, jpeg, tiff, z, Half, png, gif
# external.libraries.osx = curl, JPEG, TIFF, z, Half, PNG, GIF

variant.test.libraries = paintlib
external.test.libraries =
external.test.libraries.windows = libcurl, ws2_32, libpng, libtiff, libjpeg, libungif, user32, gdi32
external.test.libraries.linux = curl, gif, png, tiff, jpeg, Imath

# external.test.linker.options.osx =
# external.test.libraries.osx = curl, GIF, png, tiff, jpeg, Imath
