project.type = library
project.prefix = paintlib
project.name =

extra.defines.linux =
extra.defines.osx   =
extra.defines.windows = _WINDOWS

extra.include.dir = .;../config;Filter
extra.include.dir.windows = win;${env.PRO}/extern/win/paintlib_dependencies/libtiff;${env.PRO}/extern/win/paintlib_dependencies/libjpeg;${env.PRO}/extern/win/paintlib_dependencies/libpng;${env.PRO}/include/zlib;${env.PRO}/extern/win/paintlib_dependencies/libungif

release.linker.options.windows =

source.files = *.c, *.cpp, Filter/*.cpp, test/*.cpp
header.files = *.h, Filter/*.h, win/*.h
source.files.windows = win/*.cpp
test.sources = test/testpaintlib.cpp
test.exe.mapping.from = test*.cpp
exclude.header.files = test/*

exclude.source.files = pldirectfbbmp.cpp, pldicomdec.cpp, plsdlbmp.cpp, test/testpaintlib.cpp

external.libraries.windows =

variant.test.libraries = paintlib
external.test.libraries =
external.test.libraries.windows = libcurl, ws2_32, libpng, libtiff, libjpeg, libungif, user32, gdi32
external.test.libraries.linux = curl, ungif, png, tiff, jpeg
