# $Id: build.config,v 1.2 2004/10/18 16:22:57 janbo Exp $
project.type = library
project.prefix = y60
project.name = texgen

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.libraries          =

external.libraries.windows =

variant.test.libraries          = aslbase, domxml, paintlib
external.test.libraries         = png, tiff, jpeg
external.test.libraries.linux   = pthread, ungif, curl
external.test.libraries.windows = gdi32, user32, pthreadVC, libcurl


exclude.source.files =
exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources =
