# Subdirectory names
subdirs =

# Name of the library/application
project.name = Y60-export
# only for libraries & xpcom components:
project.prefix = maya

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

# Comma separated list of
# extra defines
extra.defines = _BOOL
extra.defines.linux =
extra.defines.windows = REQUIRE_IOSTREAM

# Disable warning about deprecated header files used in maya
release.compiler.options.linux = -Wno-deprecated
debug.compiler.options.linux = -Wno-deprecated


# Comma separated list of
# extra include dirs
extra.include.dir = ${env.MAYA_SDK}/include
extra.include.dir.linux =
extra.include.dir.windows =

# maya specific stuff ... this ain't nice ... :(
use.maya.sdk   = 1
maya.libraries = OpenMaya,Foundation,OpenMayaAnim,OpenMayaUI

# Comma separated list of Names of
# external libraries
external.libraries = avcodec, avformat
external.libraries.windows = libpng, libtiff, libjpeg, libungif, pthreadVC, gdi32, user32, libcurl, advapi32, Shell32, sigc, dxguid, dsound
external.libraries.linux = png, tiff, jpeg, ungif, curl, avcodec, avformat, asound

# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase, aslmath, domxml, y60base, y60scene, y60image, y60video, aslzip, y60scene, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase
