# $Id: build.config,v 1.5 2004/09/13 15:07:27 david Exp $

project.type = library
project.prefix = asl
project.name = serial

source.files = **/*.cpp
exclude.source.files.linux   = ComPort.cpp
exclude.source.files.osx     = ComPort.cpp
exclude.source.files.windows = TTYPort.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.libraries          = aslbase
external.libraries.windows = pthreadVC, advapi32, shell32

external.test.libraries = 
external.test.libraries.linux = pthread, rt
external.test.libraries.windows = pthreadVC 
variant.test.libraries = aslbase

