# $Id: build.config,v 1.4 2005/01/24 11:18:05 martin Exp $
project.type = shared-library
project.prefix = js
project.name = spidermonkey

extra.defines.linux = XP_UNIX HAVE_VA_COPY VA_COPY=va_copy
extra.defines.osx   = XP_UNIX AVMPLUS_IA32 AVMPLUS_UNIX FEATURE_NANOJIT JS_TRACER OSTYPE=\"Darwin9.5.0\" OSARCH=Darwin EXPORT_JS_API  JS_USE_SAFE_ARENA
extra.defines.windows = XP_WIN _WINDOWS _X86_=1 EXPORT_JS_API JSFILE

#platform.compiler.options = -DGC_MARK_DEBUG -DJS_GCMETER

release.linker.options.windows = /OPT:NOICF

source.files = *.c *.cpp
header.files = *.h *.msg *.tbl

exclude.source.files = jscpucfg.cpp, jskwgen.cpp, jsdtracef.c, dtoa.c, js.cpp, NativeThumb.cpp, NativeARM.cpp, NativeAMD64.cpp, jsoplengen.cpp

