# $Id: build.config,v 1.7 2003/06/30 13:30:23 valentin Exp $

project.type = library
project.prefix = asl
project.name = math

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.libraries = aslbase

external.test.libraries = pthread, rt
external.test.libraries.windows = winmm, pthreadVC, shell32, advapi32
variant.test.libraries = aslbase

