# $Id: build.config,v 1.30 2005/04/26 09:28:09 ulrich Exp $

subdirs = JSSound, net, WindowCWFilter, ctscan, ClusterExtension, \
          DemoModellingRendex, testRendererExtension, DemoRendererExtension,\
          DemoBehaviourRendex, DSADriver, GlurFilter,\
          StlImporter, X3dImporter, VideoProcessing, ProcFunctions, \
          FFMpegDecoder1, FFMpegDecoder2, FFMpegDecoder, OpenEXRDecoder
subdirs.windows = DInput, SoundLightUSBDMX, TaskManager, QuicktimeDecoder, \
        WMVDecoder, WMADecoder, DShowCapture, WMPPlayer 
