# $Id: build.config,v 1.30 2005/04/26 09:28:09 ulrich Exp $

subdirs = ProcFunctions, JSSound, Net, Nagios, WindowCW, Cluster, \
          DemoModellingRendex, testRendererExtension, DemoRendererExtension,\
          DemoBehaviourRendex, DSADriver, GlurFilter,\
          StlImporter, X3dImporter, VideoProcessing,\
          FFMpegDecoder1, FFMpegDecoder2, OpenEXR, EdgeBlender, \
          CMSCache, GPUParticles, ASSDriver, OscReceiver, OscSender, \
          EventLoop, SynergyServer, GLBinding
# subdirs: Cairo

subdirs.osx = PortVideo

subdirs.windows = SimWater, DInput, TaskManager, QuicktimeDecoder, WMADecoder, WMVDecoder

subdirs.linux = DVB, SimWater, PowermateInputExtension, GStreamerCapture, Wiimote
