# $Id: build.config,v 1.30 2005/04/26 09:28:09 ulrich Exp $

subdirs = ProcFunctions, JSSound, net, nagios, WindowCWFilter, ClusterExtension, \
          DemoModellingRendex, testRendererExtension, DemoRendererExtension,\
          DemoBehaviourRendex, DSADriver, GlurFilter,\
          StlImporter, X3dImporter, VideoProcessing,\
          FFMpegDecoder1, FFMpegDecoder2, FFMpegDecoder, OpenEXRDecoder, EdgeBlender, \
          CMSCache, SimWater, Particles, ASSDriver

subdirs.windows = DInput, TaskManager, QuicktimeDecoder, \
        WMVDecoder, WMADecoder, DShowCapture, WMPPlayer
subdirs.linux = DVB
