# $Id: build.config,v 1.30 2005/04/26 09:28:09 ulrich Exp $

subdirs = ProcFunctions, JSSound, net, nagios, WindowCWFilter, ClusterExtension, \
          DemoModellingRendex, testRendererExtension, DemoRendererExtension,\
          DemoBehaviourRendex, DSADriver, GlurFilter,\
          StlImporter, X3dImporter, VideoProcessing,\
          FFMpegDecoder1, FFMpegDecoder2, FFMpegDecoder, OpenEXRDecoder, EdgeBlender, \
          CMSCache, Particles, ASSDriver, OscReceiver, OscSender, Cairo

subdirs.osx = PortVideo

subdirs.windows = SimWater, DInput, TaskManager, QuicktimeDecoder, \
        WMVDecoder, WMADecoder, DShowCapture
# subdirs.windows: removed WMPPlayer

subdirs.linux = DVB, SimWater, Powermate
