# $Id: build.config,v 1.3 2005/01/05 19:13:45 martin Exp $
project.type = library
project.prefix = y60
project.name = inet

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external libraries = 
external.libraries.linux =

variant.test.libraries          = aslbase, aslnet
external.test.libraries.linux   = pthread, curl 
external.test.libraries.windows = pthreadVC, user32, libcurl, advapi32, shell32
external.test.libraries         =

exclude.source.files.windows =
exclude.source.files.linux = .cpp

exclude.test.sources.windows =
