# $Id: build.config,v 1.3 2005/01/05 19:13:45 martin Exp $
project.type = library
project.prefix = y60
project.name = inet

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external libraries = 
external.libraries.linux =
external.libraries.osx = pthread, curl 

variant.libraries          = aslbase, aslnet, aslipc

variant.test.libraries          = aslbase, aslnet, aslipc
external.test.libraries.linux   = pthread, curl, rt 
external.test.libraries.windows = pthreadVC, user32, libcurl, advapi32, shell32, ws2_32, Glib-2.0
external.test.libraries         =

exclude.source.files.windows =
exclude.source.files.linux = .cpp

exclude.test.sources.windows =
