# $Id: build.config,v 1.6 2005/03/30 08:43:05 build Exp $
project.type = shared-library
project.prefix = 
project.name = Wiimote

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external.libraries.windows = Cg, CgGL, opengl32, glu32, shell32, libcurl, \
                             advapi32, gdi32, user32, pthreadVC, winmm, \
                             dxguid, dsound, ws2_32, Imath, Half, Iphlpapi, libpng, \
                             libtiff, libjpeg, libungif, Imath, Half, Glib-2.0,\
                             glibmm, zdll,hid, setupapi

external.libraries.linux = bluetooth
extra.include.dir.osx = /usr/X11R6/include

variant.libraries          = aslbase, asldom, aslxpath, aslmath, aslserial, y60base, y60image, \
                             y60input, y60video, y60scene, y60jsbase, y60jslib, aslzip, paintlib, \
                             jsspidermonkey


variant.test.libraries          =
external.test.libraries         =
external.test.libraries.linux   =
external.test.libraries.windows =

exclude.source.files.windows = Liimote.cpp
exclude.source.files.linux = Win32mote.cpp, stdafx.cpp
exclude.source.files.osx = Win32mote.cpp, stdafx.cpp, Liimote.cpp

exclude.test.sources.windows =

schema.files = event.xsd
