# $Id: build.config,v 1.2 2005/02/03 18:02:22 martin Exp $
project.type = library
project.prefix = y60
project.name = jslib

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}

extra.sysinclude.dir.osx = /opt/local/include/glib-2.0;/opt/local/lib/glib-2.0/include

extra.defines.osx   = XP_UNIX

frameworks.osx = OpenGL, Carbon 

extra.include.dir.osx = /usr/X11R6/include
   
variant.libraries = aslbase, aslmath, aslserial, aslnet, aslipc, domxml, \
                    y60base, y60scene, y60image, y60video, \
                    y60input, y60inet, y60render, y60glutil, \
                    y60gltext, \
                    jsspidermonkey, y60modelling, aslzip, paintlib

# aslbase, aslnet, aslmath, domxml, jsspidermonkey, y60base, y60scene                
external.libraries = 
external.libraries.linux =
external.libraries.osx =
external.libraries.osx = glib-2.0
external.libraries.windows =

platform.linker.options.osx = -L/opt/local/lib
 

variant.test.libraries          = aslbase, aslnet
external.test.libraries.linux   = pthread, rt, curl 
external.test.libraries.windows = pthreadVC, user32, libcurl
external.test.libraries         =

exclude.source.files.windows = 
exclude.source.files.linux =

exclude.test.sources.windows =
