# subdirectory names
subdirs =

# Name of the library/application
project.name = audio
# only for libraries & xpcom components:
project.prefix = asl

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = library

frameworks.osx = AudioUnit CoreServices AudioToolbox 

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux =
extra.defines.windows =

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir =
extra.include.dir.linux =
extra.include.dir.windows =

external.libraries = 
external.libraries.windows = dsound, dxguid, User32, Psapi
external.libraries.linux = asound 
variant.libraries = aslbase

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++, ALSASampleSink.cpp
exclude.source.files.windows = ALSAPump.cpp, CoreAudioPump.cpp 
exclude.source.files.linux = DirectSoundPump.cpp, CoreAudioPump.cpp 
exclude.source.files.osx = DirectSoundPump.cpp, ALSAPump.cpp 

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = *.tst.cpp
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

variant.test.libraries          = aslbase
external.test.libraries         = rt 
external.test.libraries.linux   = asound
external.test.libraries.windows = dxguid, dsound, pthreadVC, Advapi32, Shell32, winmm


