# $Id: build.config,v 1.6 2005/03/30 08:43:05 build Exp $
project.type = library
project.prefix = y60
project.name = modelling

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external.libraries.windows =

variant.test.libraries          = aslbase, domxml, aslmath, y60base, y60image, y60video, y60scene, aslzip, paintlib
external.test.libraries         = png, tiff, z, jpeg, ungif, GL, avformat, avcodec
external.test.libraries.linux   = pthread, curl, asound, rt
external.test.libraries.windows = libcurl, gdi32, user32, pthreadVC, winmm, \
            libpng, libtiff, libjpeg, libungif, opengl32, glu32, pthread, \
            Glib-2.0, Imath, advapi32, Shell32

exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources.windows =
