## Name of the library/application
project.type = application
project.name = y60
#winapp=1
project.prefix = y60
extra.application.files=sv iv convert_x60_EulerToQuaternion

# Comma separated list of Names of
# external libraries

# WARNING: SDL-stuff must be in external.libraries.windows - do not move it to
#          external.libraries, otherwise libpng's main() will be called
external.libraries = png, tiff, jpeg, paintlib, Cg, CgGL, avcodec, avformat

external.libraries.windows = opengl32, glu32, shell32, libcurl, \
                             gdi32, user32, Netapi32, pthreadVC, winmm, \
                             SDL, SDLmain, ws2_32, \
                             freetype200MT, advapi32, libgcc, dxguid, dinput8

external.libraries.linux = GLU, GL, pthread, curl, ungif, asound, freetype, \
                           SDL, paintlib

# Comma separated list of Names of variant libraries
variant.libraries = aslbase, aslmath, aslserial, aslnet, aslipc, domxml, \
                    y60base, y60scene, y60image, y60video, \
                    y60input, y60inet, y60render, y60glutil, y60jslib, \
                    y60gltext, \
                    sdlttf2, jsspidermonkey, y60modelling, aslzip

# Comma separated list of Names/Patterns of all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =

exclude.test.sources = y60.cpp
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of variant libraries for tests
variant.test.libraries = aslbase, aslmath, aslserial, aslnet, domxml, \
                    y60inet, y60render, y60scene, y60glutil, y60base, \
                    y60gltext, y60jslib, sdlttf2, jsspidermonkey, \
                    y60modelling, y60input, \
                    aslzip, y60image, y60video

# Comma separated list of external libraries for tests
external.test.libraries = png, tiff, jpeg, paintlib, GL, GLU, Cg, CgGL, avcodec, avformat
external.test.libraries.windows = SDL, libcurl, gdi32, user32, pthreadVC, winmm, freetype200MT
external.test.libraries.linux = pthread, curl, ungif, asound
