## Name of the library/application
project.type = library
#project.subtype = winapp
project.name = Widgets
project.prefix = acgtk

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}

platform.compiler.options.osx = ${pkg.pkg-config.cflags}

extra.sysinclude.dir =
extra.sysinclude.dir.linux =
extra.sysinclude.dir.osx = /usr/X11R6/include;/opt/local/include/sigc++-2.0;/opt/local/lib/sigc++-2.0/include;/opt/local/include/glib-2.0;/opt/local/lib/glib-2.0/include;/opt/local/include/glibmm-2.4;/opt/local/lib/glibmm-2.4/include/;/opt/local/lib/gtkmm-2.4/include;/opt/local/include/gtkmm-2.4;/opt/local/lib/gdkmm-2.4/include;/opt/local/include/gdkmm-2.4;/opt/local/include/gtk-2.0;/opt/local/lib/gdkmm-2.4/include;/opt/local/include/gtk-2.0;/opt/local/lib/gtk-2.0/include;/opt/local/include/cairomm-1.0;/opt/local/include/cairo;/opt/local/include/pango-1.0;/opt/local/include/pangomm-1.4;/opt/local/include/atkmm-1.6;/opt/local/include/atk-1.0;/opt/local/include/gtkglext-1.0;/opt/local/lib/gtkglext-1.0/include;/opt/local/include/libglade-2.0

extra.sysinclude.dir.windows =

frameworks.osx = OpenGL, Carbon, Cg

extra.defines.osx   = XP_UNIX

extra.include.dir.osx =

# Comma separated list of Names of
# external libraries
#external.libraries = png, tiff, jpeg, Cg, CgGL, avcodec, avformat
external.libraries = png, tiff, jpeg, avcodec, avformat

external.libraries.windows = Cg, CgGL, opengl32, glu32, shell32, libcurl, gdi32, user32, \
    Netapi32, pthreadVC, winmm, dxguid, dxerr8, freetype200MT, \
    advapi32, gtk-win32-2.0, gdk-win32-2.0,  \
    gobject-2.0, gdkglext-win32-1.0, gtkglext-win32-1.0, \
    gtkmm, gdkmm, pangomm, atkmm, glibmm, glade-2.0, libglademm, sigc, libgcc, \
    dsound, dxguid

external.libraries.linux = Cg, CgGL, GLU, GL, curl, gif
external.libraries.osx = glib-2.0, gdk-x11-2.0,  \
    gobject-2.0, gdkglext-x11-1.0, gtk-x11-2.0, gtkglext-x11-1.0, \
    gtkmm-2.4, gdkmm-2.4, pangomm-1.4, atk-1.0, atkmm-1.6, glibmm-2.4, glade-2.0, sigc-2.0

# Comma separated list of Names of variant libraries
variant.libraries = aslbase, aslmath, aslserial, aslnet, domxml, y60render, \
                    y60scene, y60base, y60image, y60video, y60gltext, \
                    y60input, y60inet, \
                    y60jslib, y60glutil,\
                    jsspidermonkey, y60modelling, aslzip, paintlib

# Comma separated list of Names/Patterns of all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =
release.compiler.options.windows = /Zi

# Comma separated list of Names/Patterns of header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of all test sources
test.sources = xpshell.cpp **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =
exclude.test.sources = acgtkshell.cpp
exclude.test.sources.windows =
exclude.test.sources.linux =
exclude.test.sources.osx =

# Comma separated list of variant libraries for tests
variant.test.libraries = aslbase, aslmath, aslserial, aslnet, domxml, y60inet, y60render, y60scene, \
                    y60som, y60input, y60glutil, \
                    y60gltext, y60jslib, sdlttf2, jsspidermonkey, y60modelling

# Comma separated list of external libraries for tests
external.test.libraries = png, tiff, jpeg, GL, GLU, Cg, CgGL, avcodec, avformat
external.test.libraries.windows = SDL, SDLmain, libcurl, gdi32, user32, pthreadVC, winmm, freetype200MT
external.test.libraries.linux = pthread, curl, ungif, asound, rt
