# $Id: build.config,v 1.2 2004/05/14 14:18:20 christian Exp $
project.type = library
project.prefix = sdl
project.name = ttf2

extra.include.dir = VisualC/FreeType/include;${env.PRO}/include/sdl
extra.include.dir.linux = /usr/include/SDL
source.files = **/*.c
header.files = *.h
test.sources = **/*.tst.cpp

variant.libraries               =

external.libraries.windows      = 

variant.test.libraries          =
external.test.libraries         =
external.test.libraries.linux   =
external.test.libraries.windows =

exclude.source.files            = showfont.c
exclude.source.files.linux      =

exclude.test.sources.windows    =
