# Subdirectory names
subdirs =

# Name of the library/application
project.name = dicom
# only for libraries & xpcom components:
project.prefix = pl

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux = HAVE_CONFIG_H
extra.defines.windows =

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir=${env.PRO}/include/dicom;${env.PRO}/include/dicom/config;${env.PRO}/include/dicom/ofstd;${env.PRO}/include/dicom/dcmdata;${env.PRO}/include/dicom/dcmimage;${env.PRO}/include/dicom/dcmjpeg;${env.PRO}/include/dicom/dcmimgle
extra.include.dir.linux =
extra.include.dir.windows =


external.libraries = ofstd, dcmdata, dcmimage, dcmjpeg, dcmimgle, ijg16, ijg8, ijg12, \
    avcodec, avformat, png, tiff, jpeg, paintlib
external.libraries.windows = pthreadVC, winmm, user32, Shell32, Netapi32, gdi32, advapi32, libcurl, ws2_32, dxguid, dsound
external.libraries.linux = pthread, curl
variant.libraries = aslbase, aslmath, aslnet, aslzip, domxml, y60base, y60image, y60jslib, jsspidermonkey

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources =
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase

