project.type = static-library
project.prefix = paintlib
project.name = win

extra.defines.linux =
extra.defines.osx   =
extra.defines.windows = _WINDOWS
extra.include.dir.windows = ../../common
#.;../config;Filter;../win/paintlib;${env.PRO}/extern/win/paintlib_dependencies/libtiff;${env.PRO}/extern/win/paintlib_dependencies/libjpeg;${env.PRO}/extern/win/paintlib_dependencies/libpng;${env.PRO}/include/zlib;${env.PRO}/extern/win/paintlib_dependencies/libungif

release.linker.options.windows =

source.files = **/*.c, **/*.cpp
header.files = **/*.h

exclude.source.files.windows =
