## Name of the library/application
project.type = application
project.name = rfid_server


# Comma separated list of Names of
# external libraries
external.libraries = 
external.libraries.windows = pthreadVC, user32, winmm, gdi32, libcurl,  \
                             ILR_SDK_DLL, Shell32, libcurl, ws2_32, advapi32, Imath \
                             Iphlpapi
external.libraries.linux = pthread 

# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase, aslnet

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
exclude.test.sources =
exclude.test.sources.windows =

# Comma separated list of
# external libraries for tests
# external.test.libraries =
external.test.libraries.windows = 

# Comma separated list of
# variant libraries for tests
variant.test.sources =
variant.test.libraries = 
