<settings>
    <ASSDriver>
        <ShowASSData min="0" max="1">1.00000</ShowASSData>
        <SensorPosition step="1.00">[33.70000,39.00000]</SensorPosition>
        <SensorOrientation step="1.5707963">0</SensorOrientation>
        <SensorScale step="0.1">[34.90000,34.80000]</SensorScale>
        <MirrorX min="0" max="1">0.00000</MirrorX>
        <MirrorY min="0" max="1">0.00000</MirrorY>
        <GainPower>3.00000</GainPower>
        <ComponentThreshold>5.00000</ComponentThreshold>
        <NoiseThreshold>5.00000</NoiseThreshold>
        <IntensityThreshold step="0.5">6.00000</IntensityThreshold>
        <FirstDerivativeThreshold step="1">30.00000</FirstDerivativeThreshold>
        <ProbePosition min="-1" step="1">[1.00000,18.00000]</ProbePosition>
        <CCRegion4MomentumFlag min="0" max="1" step="1">0.00000</CCRegion4MomentumFlag>
        <MomentumRegion step="1">[-1.00,-1.00000,1.00,1.00000]</MomentumRegion>
        <InterpolationMode min="0" max="1">0</InterpolationMode>
        <DebugTouchEvents min="0" max="1" step="1">0</DebugTouchEvents>
        <CurrentValueDisplay min="0" max="2">0.00000</CurrentValueDisplay>
        <EventQueueSize>100</EventQueueSize>
        <TransportLayer>serial</TransportLayer>
	<IpAddress>192.168.7.50</IpAddress>
        <Port>10001</Port>
        <SerialPortName>/dev/ttyUSB0</SerialPortName>
        <BaudRate>460800</BaudRate>
        <MinTouchInterval step="0.01">0.2</MinTouchInterval>
        <ClampToScreen>0</ClampToScreen>
        <MinTouchThreshold>9</MinTouchThreshold>
        <InterpolationMethod>1</InterpolationMethod>
        <CureBrokenElectrodes>0</CureBrokenElectrodes>
        <OscReceiverList>    
            <OscReceiver ip="10.1.2.76"/>
        </OscReceiverList>            
        <ServerPort>12345</ServerPort>
        <ClientPort>7001</ClientPort>
    </ASSDriver>
</settings>
