# $Id: build.config,v 1.2 2005/04/27 10:43:20 martin Exp $
project.type = library
project.prefix = y60
project.name = video

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.libraries          = aslbase, domxml, aslmath
# the osx linker needs these libraries to be listed here
external.libraries.osx = png, tiff, jpeg, curl, z
external.libraries.linux = gif, png

variant.test.libraries          = aslbase, domxml, aslmath, aslzip
external.test.libraries.linux   = pthread, curl, asound, rt
external.test.libraries.windows = pthreadVC, libcurl, gdi32, user32, ole32, advapi32, shell32, libgcc, dxguid, dsound
external.test.libraries         = png, tiff, z, jpeg, gif

#debug.linker.options.osx = -read_only_relocs warning
#release.linker.options.osx = -read_only_relocs warning

exclude.source.files.windows =
exclude.source.files.linux = WMVDecoder.*

exclude.test.sources = testFileImage.tst.cpp
exclude.test.sources.windows =
