# $Id: build.config,v 1.6 2005/03/24 23:35:56 christian Exp $
project.type = library
project.prefix = y60
project.name = base

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

extra.defines.windows = OPENEXR_DLL

variant.libraries          = aslbase, asldom, aslmath
# the osx linker needs these libraries to be listed here
# external.libraries.osx = paintlib, png, tiff, jpeg, curl, z, avformat, avcodec
external.libraries.linux = Half 
external.libraries.osx = Half 

use.openexr = 1

variant.test.libraries          = aslbase, asldom, aslmath, aslzip
external.test.libraries.linux   = pthread, curl, asound, rt
external.test.libraries.windows = pthreadVC, libcurl, gdi32, user32, ole32, advapi32, shell32, libgcc, dxguid, dsound
# external.test.libraries         = png, tiff, z, jpeg, gif, paintlib, avcodec, avformat

#debug.linker.options.osx = -read_only_relocs warning
#release.linker.options.osx = -read_only_relocs warning

exclude.source.files.windows =
exclude.source.files.linux = WMVDecoder.*

exclude.test.sources = testFileImage.tst.cpp
exclude.test.sources.windows =

schema.files = Y60.xsd

