# Subdirectory names
subdirs =

# Name of the library/application
project.name = zip
# only for libraries & xpcom components:
project.prefix = asl

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = library

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux = 
extra.defines.windows = 

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir=
extra.include.dir.linux =
extra.include.dir.windows =

# Comma separated list of Names of
# external libraries
external.libraries = 
external.libraries.windows = zdll, pthreadVC, advapi32, user32, Shell32, winmm 
external.libraries.linux = z
external.libraries.osx = z

# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++, miniunz.c, minizip.c
exclude.source.files.windows =
exclude.source.files.linux = iowin.cpp

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files = crypt.h, ioapi.h, iowin32.h, mztools.h, unzip.h, zip.h

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase

