# $Id: build.config,v 1.1 2004/08/03 12:43:18 uzadow Exp $

project.type = shared-library
project.prefix = asl
project.name = DirectorIP

source.files = *.cpp
header.files = *.h

extra.include.dir = ../../../../extern/xdk85_win/include
external.libraries.windows = user32, pthreadVC, gdi32, ws2_32, Shell32
variant.libraries = aslbase, aslnet
release.linker.options.windows=/def:"../plugin.def"
debug.linker.options.windows=/def:"../plugin.def"

extra.defines = _WINDLL, _WINDOWS
