# subdirectory names
subdirs =

# Name of the library/application
project.name = ProcFunctions
# only for libraries & xpcom components:
project.prefix = y60

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library


# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux = HAVE_CONFIG_H
extra.defines.windows =

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
#platform.linker.options.linux = ${pkg.pkg-config.libs} 

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir=
extra.include.dir.linux =
extra.include.dir.windows =

external.libraries = avcodec, avformat, avutil
external.libraries.windows = Cg, CgGL, opengl32, glu32, shell32, ole32, libcurl, \
                             advapi32, psapi, \
                             gdi32, user32, Netapi32, pthreadVC, winmm, \
                             libgcc, ws2_32, wmvcore, dxguid, dsound, sigc, \
                             Imath, Half
external.libraries.linux = pthread, curl, Cg, CgGL
external.libraries.osx = pthread, curl

variant.libraries = aslbase, aslmath, aslnet, aslipc, aslserial, aslzip, asldom, aslxpath, \
                    y60glrender, y60scene, y60base, y60inet, y60jsbase, \
                    y60glutil, y60gltext, y60image,  \
                    y60video, jsspidermonkey, y60modelling, y60input, paintlib


# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources =
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase

