# $Id: build.config,v 1.18 2004/11/19 14:59:40 martin Exp $

project.type = library
project.prefix = asl
project.name = base

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}
platform.linker.options.osx =

external.libraries.linux = dl

frameworks.osx = Carbon
extra.include.dir.osx = /Developer/Headers/FlatCarbon

external.test.libraries =
external.test.libraries.linux = pthread, rt
external.test.libraries.windows = winmm, pthreadVC, gdi32, user32, shell32, AdvAPI32, shlwapi, psapi

exclude.source.files = Thread.cpp testPlugIn.cpp text2src.cpp

exclude.source.files.windows = Thread.cpp, ThreadSemFactory.cpp, ThreadSem.cpp, DebugLog.cpp, MachOBacktrace.cpp, GlibcBacktrace.cpp, signal_functions.cpp
exclude.source.files.linux = ComSingleton.cpp, MachOBacktrace.cpp, Win32Backtrace.cpp
exclude.source.files.osx = ComSingleton.cpp, GlibcBacktrace.cpp, Win32Backtrace.cpp

exclude.test.sources         = testThreadFifo.tst.cpp testPlugInManager.tst.cpp
exclude.test.sources.linux   = testThreadSemFactoryPerformance.tst.cpp
exclude.test.sources.windows = testDebugLog.tst.cpp, testItimer.tst.cpp, testPrioCeilingRWLock.tst.cpp, testShellScript.tst.cpp, testThreadSem.tst.cpp, testThreadSemFactory.tst.cpp, testThreadSemFactoryPerformance.tst.cpp
exclude.test.sources.osx     = testThreadSemFactoryPerformance.tst.cpp

revision.export = true 

test.runtimes.report = ${env.PRO}/doc/reports/profile_aslbase
test.runtimes.tests  = *
exclude.runtimes.tests  = testMultiThreadedUnitTest, testUnitTest
