<settings>
    <Gesture>
        <WipeDistanceThreshold min="0" step="0.01">0.01000</WipeDistanceThreshold>
        <MaxCursorPairDistance min="0">500</MaxCursorPairDistance>
        <RotateAngleThreshold min="0" step="0.1">1</RotateAngleThreshold>
        <ZoomDistanceThreshold min="0" step="0.25">0.25</ZoomDistanceThreshold>
        <TapMaxDistanceThreshold min="0" step="0.01">0.001</TapMaxDistanceThreshold>
        <TapMinDurationThreshold min="0" step="1">50</TapMinDurationThreshold>
        <TapMaxDurationThreshold min="0" step="20">500</TapMaxDurationThreshold>
        <MaxCursorPositionsInHistory min="1" step="1">10</MaxCursorPositionsInHistory>
    </Gesture>
</settings>
