# $Id: build.config,v 1.3 2003/06/03 15:11:44 christian Exp $

project.type = shared-library
project.prefix = asl
project.name = rpc

external.libraries =

source.files = *.cpp
header.files = *.h
test.sources = *.tst.cpp

external.test.libraries = z, pthread, OB
variant.test.libraries = aslbase, aslxml, aslnet

