# Subdirectory names
subdirs =

# Name of the library/application
project.name = Y60-export

# only for libraries & xpcom components:
project.prefix = cinemax

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux =
extra.defines.windows = __PC, _WINDLL, _WINDOWS, _DEBUG

# Comma separated list of
# extra include dirs
#extra.include.dir = ${env.C4D}/Resource/ac_api
extra.include.dir = ${env.C4D}/Resource/_api.acpatched;${env.C4D}/Resource/_api.acpatched/c4d_gv;${env.C4D}/Resource/_api.acpatched/c4d_customgui;${env.C4D}/Resource/_api.acpatched/c4d_libs;${env.C4D}/Resource/_api.acpatched/c4d_preview;${env.C4D}/Resource/res/description

extra.include.dir.linux =
extra.include.dir.windows =

# Comma separated list of Names of
external.libraries = avcodec, avformat
external.libraries.windows = libpng, libtiff, libjpeg, libungif, pthreadVC, libcurl, gdi32, user32, shell32, advapi32, dxguid, dsound, Imath
external.libraries.linux = png, tiff, jpeg, gif

# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase, aslmath, aslzip, asldom, \
    y60base, y60image, y60video, y60scene, \
    c4dapi, c4dcustom, c4dgv, c4dlibs, c4dpreview, c4dscaling, paintlib, y60modelling

# Additional compiler options
release.compiler.options.windows = -vmg -vms
debug.compiler.options.windows = -vmg -vms

# Additional linker options
release.linker.options.windows = /NODEFAULTLIB:LIBCD
debug.linker.options.windows = /NODEFAULTLIB:LIBCD

# Comma separated list of Names/Patterns of
# all source files
#source.files = Main.cpp
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries =

