# $Id: build.config,v 1.2 2004/10/05 11:09:32 ulrich Exp $

project.type = shared-library
project.prefix = ac
project.name = ProcXtra

source.files = *.cpp
header.files = *.h

extra.include.dir = ../../../../extern/xdk85_win/include
external.libraries.windows = user32, Shell32
#external.libraries.windows = user32, pthreadVC, gdi32, ws2_32, Shell32
#variant.libraries = aslbase
release.linker.options.windows=/def:"../plugin.def"
debug.linker.options.windows=/def:"../plugin.def"

extra.defines = _WINDLL, _WINDOWS
