# Subdirectory names
subdirs =

# Name of the library/application
project.name = net
# only for libraries & xpcom components:
project.prefix = js

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
#platform.linker.options.linux = ${pkg.pkg-config.libs} 

external.libraries.windows = shell32, pthreadVC, winmm, advapi32, ws2_32, Imath, glibmm, glib-2.0
external.libraries.linux = pthread, curl
variant.libraries = aslbase, aslmath, aslnet, domxml, y60base, y60jslib, jsspidermonkey

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources =
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase

