# subdirectory names
subdirs =

# Name of the library/application
project.name = Plugin
# only for libraries & xpcom components:
project.prefix = Nagios

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

platform.compiler.options.linux =
#platform.linker.options.linux =

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux = 
extra.defines.windows =
extra.defines.osx =

frameworks.osx = OpenGL, Carbon, Cg 
extra.include.dir.osx = /usr/X11R6/include

platform.compiler.options.linux =
#platform.linker.options.linux =

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir=
extra.include.dir.linux =
extra.include.dir.windows =

external.libraries = 
external.libraries.windows = pthreadVC, shell32, advapi32, libcurl, Imath, ws2_32, ws2_32, Iphlpapi 
external.libraries.linux = pthread, curl
variant.libraries = aslbase, aslzip, aslnet, aslipc, aslmath, domxml, y60inet, y60jsbase, \
					y60render, y60scene, y60base, y60inet, y60glutil, y60gltext, y60image,  \
                    y60video, jsspidermonkey, y60modelling, y60input, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows = testMarch.tst.cpp
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = 
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = 
