# $Id: build.config,v 1.21 2005/03/29 16:42:39 martin Exp $
project.type = library
project.prefix = y60
project.name = scene

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external.libraries.windows =

frameworks.osx = Carbon, OpenGL 

variant.libraries          = aslbase, domxml, aslmath, y60base, aslzip, y60image, y60video, paintlib

variant.test.libraries          = aslbase, domxml, aslmath, y60base, aslzip, y60image, y60video, paintlib
external.test.libraries         = GL, avformat, avcodec
external.test.libraries.linux   = png, tiff, z, jpeg, gif, pthread, curl, asound, rt
external.test.libraries.windows = libpng, libtiff, libjpeg, libungif, libcurl, gdi32, \
                                  user32, pthreadVC, advapi32, shell32, Imath, Glib-2.0

exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources         = testStlImport.tst.cpp

