# $Id: build.config,v 1.13 2005/01/05 17:50:53 martin Exp $

project.type = library
project.prefix = xpath
project.name = xml

extra.include.dir = ..

#project.type       = application
#variant.libraries  = domxml, aslbase

source.files = *.cpp
header.files = *.h
test.sources = *.tst.cpp

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}

external.libraries.linux   = rt
external.libraries.windows = 
external.libraries.osx     = 

variant.test.libraries = aslbase, domxml
external.test.libraries.linux = pthread, rt
external.test.libraries.windows = winmm, pthreadVC, advapi32, Shell32

