<settings>
    <ASSDriver>
        <ShowASSData min="0" max="1">1.00000</ShowASSData>
        <SensorPosition step="1">[-1077.00000,1340.00000]</SensorPosition>
        <SensorOrientation step="1.5707963">-1.57080</SensorOrientation>
        <SensorScale step="0.01">[107.94000,39.7]</SensorScale>
        <MirrorX min="0" max="1">0.00000</MirrorX>
        <MirrorY min="0" max="1">0.00000</MirrorY>
        <ClampToScreen min="0" max="1">1</ClampToScreen>
        <GainPower>3.00000</GainPower>
        <ComponentThreshold>1.50000</ComponentThreshold>
        <NoiseThreshold>10</NoiseThreshold>
        <IntensityThreshold step="0.5">2.50000</IntensityThreshold>
        <FirstDerivativeThreshold step="1">30.00000</FirstDerivativeThreshold>
        <ProbePosition min="-1" step="1">[2.00000,3.00000]</ProbePosition>
        <CCRegion4MomentumFlag min="0" max="1" step="1">0.00000</CCRegion4MomentumFlag>
        <MomentumRegion step="1">[-1.00,-1.00000,1.00,1.00000]</MomentumRegion>
        <DebugTouchEvents min="0" max="1" step="1">0</DebugTouchEvents>
        <CurrentValueDisplay min="0" max="2">0.00000</CurrentValueDisplay>
        <EventQueueSize>100</EventQueueSize>
        <TransportLayer>serial</TransportLayer>
        <SerialPort>0</SerialPort>
        <UseUSB min="0" max="1">1</UseUSB>
        <BaudRate>230400</BaudRate>
        <BitsPerWord min="5" max="8">8</BitsPerWord>
        <Parity>no_parity</Parity>
        <StopBits min="1" max="2">1</StopBits>
        <Handshaking min="0" max="1">0</Handshaking>
        <MinTouchInterval step="0.01">0.2</MinTouchInterval>
    </ASSDriver>
</settings>
