<settings>
    <ASSDriver>
        <ShowASSData min="0" max="1">1.00000</ShowASSData>
        <SensorPosition step="0.01">[10.14000,-3.10000,0]</SensorPosition>
        <SensorOrientation step="1.5707963">0</SensorOrientation>
        <SensorScale step="0.005">[1.06500,1.06500,1]</SensorScale>
        <MirrorX min="0" max="1">1.00000</MirrorX>
        <MirrorY min="0" max="1">0.00000</MirrorY>
        <GainPower>2</GainPower>
        <ComponentThreshold>10.00000</ComponentThreshold>
        <NoiseThreshold>15</NoiseThreshold>
        <IntensityThreshold step="0.5">9.00000</IntensityThreshold>
        <FirstDerivativeThreshold step="1">30.00000</FirstDerivativeThreshold>
        <MinTouchInterval step="0.01">0.2</MinTouchInterval>
        <WatchedValue min="-1" step="1">[13.00000,5.00000]</WatchedValue>
        <DumpValues min="0" max="1" step="1">0</DumpValues>
        <CurrentValueDisplay min="0" max="2">0.00000</CurrentValueDisplay>
        <SerialPort>4</SerialPort>
        <UseUSB min="0" max="1">1</UseUSB>
        <BaudRate>57600</BaudRate>
        <BitsPerWord min="5" max="8">8</BitsPerWord>
        <Parity>no_parity</Parity>
        <StopBits min="1" max="2">1</StopBits>
        <Handshaking min="0" max="1">0</Handshaking>
    </ASSDriver>
</settings>

