# $Id: build.config,v 1.6 2005/03/30 08:43:05 build Exp $
project.type = library
project.prefix = y60
project.name = ASSCore

frameworks.osx = OpenGL, Carbon, Cg 
extra.include.dir.osx = /usr/X11R6/include

source.files = **/*.cpp
exclude.source.files = **/*.tst.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

external.libraries.windows =
extra.include.dir.osx = /usr/X11R6/include

variant.libraries          = aslbase, domxml, aslmath, aslserial, y60base, y60image, \
                             y60video, y60scene, y60jsbase, y60jslib, aslzip, paintlib

variant.test.libraries          =
external.test.libraries         =
external.test.libraries.linux   =
external.test.libraries.windows =

exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources.windows =
