# $Id: build.config,v 1.20 2005/03/24 23:35:56 christian Exp $

subdirs.linux = base, sound, image, video, scene, gl, input, inet, modelling, \
          jsbase, jslib, sdlengine, acgtk, jsgtk, products, components

subdirs.windows = base, sound, image, video, scene, gl, input, inet, modelling, \
          jsbase, jslib, sdlengine, acgtk, jsgtk, products, components

subdirs.osx = base, sound, image, video, scene, gl, input, inet, modelling, \
          jsbase, jslib, sdlengine, products, components

test.runtimes.report = ${env.PRO}/doc/reports/profile_Y60
test.runtimes.tests  = *
