# subdirectory names
subdirs =

# Name of the library/application
project.name = DInput
# only for libraries & xpcom components:
project.prefix = y60

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

# Comma separated list of
# extra defines
extra.defines =
extra.defines.windows =

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir=
extra.include.dir.windows =

external.libraries = 
external.libraries.windows = shell32,advapi32, dinput8, SDL,\
                             pthreadVC, dxguid, sigc
variant.libraries = aslbase, aslmath, y60base, y60input, asldom

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources =
test.sources.windows =
exclude.test.sources =
exclude.test.sources.windows =

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase

