# $Id: build.config,v 1.2 2004/11/18 16:18:18 pavel Exp $

project.type = library
project.prefix = asl
project.name = raster

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

# exclude.test.sources = testPixelRaster.tst.cpp

external.libraries.windows = 

external.test.libraries = pthread
external.test.libraries.linux = pthread, rt
external.test.libraries.windows = winmm, pthreadVC
variant.test.libraries = aslbase

