## Name of the library/application
project.type = application
project.name = GenCompressedTex
project.prefix = y60

# Comma separated list of Names of
# external libraries
#external.libraries = GL, GLU, avcodec, avformat
external.libraries = Cg, CgGL, avcodec, avformat
external.libraries.windows = glut32, pthreadVC, gdi32, user32, libcurl, opengl32, glu32, shell32, advapi32, dsound, \
                             dxguid, libpng, libtiff, libjpeg, libungif, Imath, Glib-2.0
external.libraries.linux = png, tiff, jpeg, gif, glut, GLU, GL, pthread, rt, curl, asound, Half, Iex

# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase, aslmath, aslzip, domxml, y60base, y60image, y60glutil, y60render, y60gltext, y60scene, y60video, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
exclude.test.sources =
exclude.test.sources.windows =

# Comma separated list of
# external libraries for tests
# external.test.libraries =
external.test.libraries.windows =

# Comma separated list of
# variant libraries for tests
variant.test.sources =
variant.test.libraries =
