## Name of the library/application
project.type = application
project.name = GenCompressedTex
project.prefix = y60

frameworks.osx = OpenGL, Carbon, Cocoa, Cg

extra.sysinclude.dir.osx = /usr/X11R6/include

# Comma separated list of Names of
# external libraries
#external.libraries = GL, GLU, avcodec, avformat

early.external.libraries.windows = SDL, SDLmain

external.libraries = avcodec, avformat
external.libraries.windows = Cg, CgGL, glut32, pthreadVC, gdi32, user32, libcurl, opengl32, \
                             user32, glu32, shell32, dsound, Netapi32, advapi32, ws2_32, winmm, \
                             Iphlpapi, dxguid, libpng, libtiff, libjpeg, libungif, Imath, freetype 

external.libraries.linux =Cg, CgGL,  png, tiff, jpeg, gif, glut, GLU, GL, pthread, rt, curl, asound, Half, Iex

external.libraries.osx = X11, GL, GLU, png, tiff, jpeg, curl, gif, Half, SDL, SDLmain

# Comma separated list of Names of
# variant libraries
 variant.libraries = aslbase, aslmath, aslserial, aslnet, aslipc, domxml, \
                    y60base, y60scene, y60image, y60video, \
                    y60input, y60inet, y60render, y60glutil, y60jsbase, y60jslib, \
                    y60gltext, y60sdlengine, \
                    sdlttf2, jsspidermonkey, y60modelling, aslzip, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
exclude.test.sources =
exclude.test.sources.windows =

# Comma separated list of
# external libraries for tests
# external.test.libraries =
external.test.libraries.windows =

# Comma separated list of
# variant libraries for tests
variant.test.sources =
variant.test.libraries =
