# $Id: build.config,v 1.1 2004/02/11 14:50:09 martin Exp $
project.type = library
project.prefix = y60
project.name = gltext

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

frameworks.osx = Carbon 

extra.include.dir.osx = /usr/X11R6/include

variant.libraries          =  aslbase, aslmath, domxml, y60base, y60scene, y60image, y60video, y60glutil

external.libraries.windows = 
external.libraries.osx     =  GL, GLU

variant.test.libraries          = 
external.test.libraries         = 
external.test.libraries.linux   = 
external.test.libraries.windows = 

exclude.source.files.windows = 
exclude.source.files.linux = 
                               
exclude.test.sources.windows = 
