## Name of the library/application
project.type = application
#project.subtype = winapp
project.name = acgtkshell
project.prefix = y60

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}

extra.sysinclude.dir =
extra.sysinclude.dir.linux =


#extra.sysinclude.dir.linux=/usr/include/gtkmm-2.4;/usr/lib/gtkmm-2.4/include;\
#                        /usr/include/glibmm-2.4;/usr/lib/glibmm-2.4/include;\
#                        /usr/include/gdkmm-2.4;/usr/lib/gdkmm-2.4/include;\
#                        /usr/include/gtk-2.0;/usr/lib/gtk-2.0/include/;\
#                        /usr/include/glib-2.0;/usr/lib/glib-2.0/include;\
#                        /usr/include/sigc++-2.0/;/usr/lib/sigc++-2.0/include/;\
#                        /usr/include/pango-1.0/;/usr/include/atk-1.0/;\
#                        /usr/include/pangomm-1.4;/usr/include/atkmm-1.6;\
#                        /usr/include/libglade-2.0;/usr/include/libglademm-2.0;\
#                        /usr/include/gtkglext-1.0;/usr/lib/gtkglext-1.0/include;\
#                        myspace separated dir ectory;

extra.sysinclude.dir.osx = /usr/X11R6/include;/opt/local/include/sigc++-2.0;/opt/local/lib/sigc++-2.0/include;/opt/local/include/glib-2.0;/opt/local/lib/glib-2.0/include;/opt/local/include/glibmm-2.4;/opt/local/lib/glibmm-2.4/include/;/opt/local/lib/gtkmm-2.4/include;/opt/local/include/gtkmm-2.4;/opt/local/lib/gdkmm-2.4/include;/opt/local/include/gdkmm-2.4;/opt/local/include/gtk-2.0;/opt/local/lib/gdkmm-2.4/include;/opt/local/include/gtk-2.0;/opt/local/lib/gtk-2.0/include;/opt/local/include/cairo;/opt/local/include/pango-1.0;/opt/local/include/pangomm-1.4;/opt/local/include/atkmm-1.6;/opt/local/include/atk-1.0;/opt/local/include/gtkglext-1.0;/opt/local/lib/gtkglext-1.0/include;/opt/local/include/libglade-2.0



extra.sysinclude.dir.windows =

frameworks.osx = OpenGL, Carbon 

extra.defines.osx   = XP_UNIX


# Comma separated list of Names of
# external libraries
external.libraries = 

external.libraries.windows = Cg, CgGL, opengl32, glu32, shell32, libcurl, gdi32, user32, \
    Netapi32, pthreadVC, freetype200MT, \
    advapi32, gtk-win32-2.0, gdk-win32-2.0, glib-2.0, \
    gobject-2.0, gdkglext-win32-1.0, gtkglext-win32-1.0, ws2_32, \
    gtkmm, gdkmm, pangomm, atkmm, glibmm, glade-2.0, libglademm, sigc, libgcc, libpng, libtiff, libjpeg, libungif, Imath


external.libraries.linux = Cg, CgGL, png, tiff, jpeg, GLU, GL, curl, gif, Half

# external.libraries.linux = GLU, GL, pthread, curl, gigif, asound, freetype, \
#                            gtk-x11-2.0, gdk-x11-2.0, glib-2.0, gdkglext-x11-1.0, gtkglext-x11-1.0, \
#                            gtkmm-2.4, gdkmm-2.4, pangomm-1.4, atkmm-1.6, glibmm-2.4, glademm-2.0, sigc-2.0

external.libraries.osx = gdk-x11-2.0, glib-2.0, \
    gobject-2.0, gdkglext-x11-1.0, gtk-x11-2.0, gtkglext-x11-1.0, \
    gtkmm-2.4, gdkmm-2.4, pangomm-1.4, atk-1.0, atkmm-1.6, glibmm-2.4, glade-2.0, sigc-2.0

# Comma separated list of Names of variant libraries
variant.libraries = aslbase, aslmath, aslserial, aslnet, domxml, aslipc, \
                    y60scene, y60base, y60image, y60gltext, y60render, \
                    y60input, y60inet, jsgtkbase, \
                    y60jslib, y60glutil, y60video, \
                    jsspidermonkey, y60modelling, aslzip, acgtkWidgets, paintlib

# Comma separated list of Names/Patterns of all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =
release.compiler.options.windows = /Zi

# Comma separated list of Names/Patterns of header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of all test sources
test.sources = xpshell.cpp **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =
exclude.test.sources = acgtkshell.cpp
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of variant libraries for tests
variant.test.libraries = aslbase, aslmath, aslserial, aslnet, domxml, y60inet, y60render, y60scene, \
                    y60input, y60glutil, \
                    y60gltext, y60jslib, sdlttf2, jsspidermonkey, y60modelling

# Comma separated list of external libraries for tests
external.test.libraries = png, tiff, jpeg, GL, GLU, Cg, CgGL, avcodec, avformat
external.test.libraries.windows = SDL, SDLmain, libcurl, gdi32, user32, pthreadVC, winmm, freetype200MT
external.test.libraries.linux = pthread, rt, curl, gif, asound
