# $Id: build.config,v 1.16 2005/04/24 00:41:17 pavel Exp $
project.type = library
project.prefix = audio
project.name = app

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.libraries          =

external.libraries.windows =

variant.test.libraries          = aslbase, aslmath, domxml, audiobase, y60base
external.test.libraries         = avcodec, avformat
external.test.libraries.linux   = asound
external.test.libraries.windows = shell32, user32, pthreadVC, advapi32, winmm, libgcc, dxguid, dsound, psapi

#exclude.test.sources.linux = testAudioApp.tst.cpp
# exclude.test.sources.windows = testAudioApp.tst.cpp
