# $Id: build.config,v 1.2 2004/06/07 15:39:31 christian Exp $
project.type = library
project.prefix = y60
project.name = glutil

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.libraries          = paintlib
external.libraries.linux   =
external.libraries.windows =

variant.test.libraries          = aslbase
external.test.libraries         =
external.test.libraries.linux   = pthread, GL, GLU
external.test.libraries.windows = OpenGL32, GLU32, pthreadVC

exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources.windows =
