# $Id: build.config,v 1.2 2004/06/07 15:39:31 christian Exp $
project.type = library
project.prefix = y60
project.name = glutil

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

frameworks.osx = Cg, OpenGL, Carbon
# temporarily disable CG on osx until Nvidia fixes it's stuff
# extra.defines.osx = _AC_NO_CG_

extra.include.dir.osx = /usr/X11R6/include

variant.libraries          = paintlib, aslbase, aslmath, asldom, aslzip, y60base, y60scene, y60image, y60video
external.libraries.linux   =
external.libraries.windows =
external.libraries.osx     = X11, GL, GLU

variant.test.libraries          = aslbase, aslmath, asldom, aslzip, y60base, y60scene, y60image, y60video
external.test.libraries         = 
external.test.libraries.linux   = Cg, CgGL, pthread, rt, GL, GLU, tiff, curl, jpeg
external.test.libraries.windows = Cg, CgGL, OpenGL32, GLU32, pthreadVC, advapi32, shell32
external.test.libraries.osx = pthread, rt, GL, GLU, tiff, curl, jpeg

exclude.source.files.windows =
exclude.source.files.linux =

exclude.test.sources.windows =
exclude.test.sources.osx = testGetProcAddress.tst.cpp
