# $Id: build.config,v 1.16 2004/10/30 15:34:04 pavel Exp $

project.type = library
project.prefix = asl
project.name = net

source.files = *.cpp
header.files = *.h
test.sources = *.tst.cpp
exclude.source.files.windows = INetMonitor.cpp, TestINetMonitor.cpp

variant.libraries = aslbase
external.libraries.linux = z, curl, rt
external.libraries.osx = z, curl

external.test.libraries.linux = pthread, z, curl, rt
external.test.libraries.windows = pthreadVC, ws2_32, Shell32, winmm, zdll, advapi32, Iphlpapi
variant.test.libraries = aslbase

