# subdirectory names
subdirs =

# Name of the library/application
project.name = Media
# only for libraries & xpcom components:
project.prefix = y60

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux =
extra.defines.windows =

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir =
extra.include.dir.linux =
extra.include.dir.windows =

external.libraries = avcodec, avformat
external.libraries.windows = pthreadvc, dsound, user32, dxguid, shell32, advapi32
# pthreadVC, wmvcore, user32, ole32, Shell32, Netapi32, gdi32, advapi32, libcurl, dsound, dxguid, wsock32, opengl32, glu32, Cg, CgGL
external.libraries.linux = 
# pthread, curl
variant.libraries = aslbase, aslmath, aslaudio

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp
test.sources.windows =
test.sources.linux =
exclude.test.sources = testRealSound.tst.cpp
exclude.test.sources.windows =
exclude.test.sources.linux = 

# Comma separated list of
# external libraries for tests
external.test.libraries = pthread
external.test.libraries.windows = pthreadvc, dsound, user32, dxguid, shell32, advapi32
external.test.libraries.linux = 

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase
