## Name of the library/application
project.type = application
project.name = greplace
project.prefix = y60

# Comma separated list of Names of
# external libraries
external.libraries =
external.libraries.windows =  pthreadVC, gdi32, shell32, advapi32, user32, libcurl
external.libraries.linux = GLU, GL, pthread, curl, rt
# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
exclude.test.sources =
exclude.test.sources.windows =

# Comma separated list of
# external libraries for tests
# external.test.libraries =
external.test.libraries.windows = shell32, advapi32, user32

# Comma separated list of
# variant libraries for tests
variant.test.sources =
variant.test.libraries =
