project.type = library
project.prefix = oscpack
project.name =

extra.defines = OSC_HOST_LITTLE_ENDIAN
extra.defines.linux =
extra.defines.osx   =
extra.defines.windows =

extra.include.dir = 
extra.include.dir.windows = 

# release.linker.options.osx = 
# debug.linker.options.osx = 

# frameworks.osx = Carbon, ApplicationServices

source.files = osc/*.cpp
header.files = osc/*.h
source.files.windows =
test.sources.windows =
test.sources.linux =
test.sources.osx =
test.exe.mapping.from =
exclude.header.files =

extra.include.dir.osx = 

exclude.source.files = 

external.libraries.linux =
external.libraries.windows =
external.libraries.osx = 
# external.libraries.osx = 
# external.libraries.osx =

variant.test.libraries =
external.test.libraries =
external.test.libraries.windows = 
external.test.libraries.linux = 

# external.test.linker.options.osx =
# external.test.libraries.osx = 
