## Name of the library/application
project.type = application
project.name = CheckSchema
#winapp=1
project.prefix = y60
#extra.application.files=

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}
 
extra.defines.osx   = SDL_VIDEO_DRIVER_X11

frameworks.osx = Carbon 

extra.include.dir.osx = /usr/X11R6/include
   
# Comma separated list of Names of
# external libraries

early.external.libraries.windows = 
external.libraries.windows = shell32, advapi32, pthreadVC
external.libraries.linux = rt
external.libraries.osx = 

# Comma separated list of Names of variant libraries
variant.libraries = aslbase, asldom

# Comma separated list of Names/Patterns of all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =

exclude.test.sources = y60.cpp
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of variant libraries for tests
variant.test.libraries = aslbase, asldom

# Comma separated list of external libraries for tests
external.test.libraries =
external.test.libraries.windows =
external.test.libraries.linux =
