# Subdirectory names
subdirs =

# Name of the library/application
project.name = SimWater
# only for libraries & xpcom components:
project.prefix =

project.type = shared-library

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
#platform.linker.options.linux = ${pkg.pkg-config.libs} 

external.libraries.windows =  opengl32, glu32, shell32, libcurl, \
                             advapi32, gdi32, user32, pthreadVC, winmm, \
                             dxguid, dsound, ws2_32, libpng, libtiff, libjpeg, libungif, Imath, \
                             Cg, CgGL, Iphlpapi

external.libraries.linux = pthread, curl
#variant.libraries = aslbase, aslmath, domxml, y60base, y60jslib, jsspidermonkey, y60glutil
variant.libraries = aslbase, aslmath, domxml, y60render, y60scene, y60base, \
                    y60inet, y60jslib, y60glutil, \
                    y60gltext, aslnet, aslipc, \
                    jsspidermonkey, aslzip, aslserial, y60modelling, y60input, \
                    y60image, y60video, paintlib


# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files =
exclude.header.files = **/*

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries =
external.test.libraries.windows = pthreadVC, user32, Shell32
external.test.libraries.linux = pthread

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase
