## Name of the library/application
project.type = application
#project.subtype = winapp
project.name = simwater
project.prefix = 

platform.compiler.options.linux = 
platform.linker.options.linux = 

extra.sysinclude.dir =
extra.sysinclude.dir.linux =
extra.sysinclude.dir.windows =

frameworks.osx = OpenGL, Carbon 

extra.defines.osx   = XP_UNIX


# Comma separated list of Names of
# external libraries
external.libraries = 

external.libraries.windows = 
external.libraries.linux = GL, glut, tiff, jpeg, png, gif, curl, rt
external.libraries.osx = 

# Comma separated list of Names of variant libraries
variant.libraries = aslbase, aslmath, paintlib, domxml

# Comma separated list of Names/Patterns of all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =
release.compiler.options.windows = /Zi

# Comma separated list of Names/Patterns of header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of all test sources
test.sources = xpshell.cpp **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
test.sources.linux =
exclude.test.sources = acgtkshell.cpp
exclude.test.sources.windows =
exclude.test.sources.linux =

# Comma separated list of variant libraries for tests
variant.test.libraries = 

# Comma separated list of external libraries for tests
external.test.libraries = 
external.test.libraries.windows = 
external.test.libraries.linux = 
