# $Id: build.config,v 1.5 2004/11/09 20:27:17 david Exp $

project.type = library
project.prefix = asl
project.name = ipc

source.files = *.cpp
header.files = *.h
test.sources = *.tst.cpp

exclude.source.files.linux = NamedPipePolicy.*
exclude.source.files.osx = NamedPipePolicy.*
exclude.source.files.windows = UnixSocketPolicy.*

release.compiler.options.windows = /Zi
external.libraries.osx = z, curl
variant.libraries      = aslbase, aslnet

external.test.libraries.linux = pthread, z, curl, rt
external.test.libraries.windows = pthreadVC, ws2_32, Shell32, winmm, zdll, advapi32, Iphlpapi
variant.test.libraries = aslbase, aslnet

