# $Id: build.config,v 1.13 2005/01/05 17:50:53 martin Exp $

project.type = library
project.prefix = dom
project.name = xml

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

## Wee need a solution here:
## The following line is needed for the OSX build
## but produces a hell of a lot duplicate symbol warnings on
## windows.
## [DS] yes ... we need a solution here ... but better have warnings than no OSX build
## ... but i couldn't work without effectively....
variant.libraries      = aslbase

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
platform.linker.options.linux = ${pkg.pkg-config.libs}

external.libraries.linux   =
external.libraries.windows = Glib-2.0 
external.libraries.osx     = 

variant.test.libraries = aslbase
external.test.libraries.linux = pthread, rt
external.test.libraries.windows = winmm, pthreadVC, advapi32, Shell32, Glib-2.0

frameworks.osx = Carbon
