# $Id: build.config,v 1.3 2005/01/05 17:50:53 martin Exp $

project.type = application
project.prefix = asl
project.name = testPlugInManager

source.files = **/*.cpp
header.files = **/*.h
test.sources = **/*.tst.cpp

variant.test.libraries = aslbase
exclude.test.sources = dummy.cpp

external.test.libraries = 
external.test.libraries.linux = pthread, dl, rt
external.test.libraries.windows = winmm, pthreadVC, gdi32, user32, advapi32, shell32

exclude.source.files = 
exclude.source.files.windows =
exclude.source.files.linux =
