# $Id: build.config,v 1.22 2005/04/24 00:41:17 pavel Exp $
project.type = library
project.prefix = audio
project.name = base

source.files = **/*.cpp
exclude.source.files = Test*.cpp, *.tst.cpp
header.files = **/*.h
exclude.header.files = Test*.h, *.tst.h
test.sources = Test*.cpp, *.tst.cpp

variant.libraries          =
external.libraries         = avcodec
external.libraries.windows = dxguid, dsound, User32

variant.test.libraries          = aslbase, domxml
external.test.libraries         = avcodec, avformat
external.test.libraries.linux   = asound
external.test.libraries.windows = winmm, pthreadVC, libgcc, oleaut32, shell32, advapi32

exclude.source.files =
exclude.source.files.windows = ALSASoundCard.h ALSASoundCard.cpp
exclude.source.files.linux = WinMMSoundCard.h WinMMSoundCard.cpp WinWaveBuffer.cpp DSoundSoundCard.cpp DSoundSoundCard.h DSoundMessages.h

#exclude.test.sources.linux = testFFMpegAudioReader.tst.cpp, testSound.tst.cpp
#exclude.test.sources.windows = testFFMpegAudioReader.tst.cpp, testSound.tst.cpp
