# subdirectory names
subdirs =

# Name of the library/application
project.name = CTScan
# only for libraries & xpcom components:
project.prefix = js

# Project types are:
#   - application
#   - static-library
#   - shared-library
project.type = shared-library

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
#platform.linker.options.linux = ${pkg.pkg-config.libs} 

# Comma separated list of
# extra defines
extra.defines =
extra.defines.linux = HAVE_CONFIG_H
extra.defines.windows =
extra.defines.osx   = XP_UNIX

platform.compiler.options.linux = ${pkg.pkg-config.cflags}
#platform.linker.options.linux = ${pkg.pkg-config.libs}

# SEMICOLON(!) separated list of
# extra include dirs
extra.include.dir=${env.PRO}/include/dicom;${env.PRO}/include/dicom/config;${env.PRO}/include/dicom/ofstd;${env.PRO}/include/dicom/dcmdata;${env.PRO}/include/dicom/dcmimage;${env.PRO}/include/dicom/dcmjpeg;${env.PRO}/include/dicom/dcmimgle
extra.include.dir.linux =
extra.include.dir.windows =

external.libraries = ofstd, dcmdata, dcmimage, dcmjpeg, dcmimgle, ijg16, ijg8, ijg12, avcodec, avformat, Cg, CgGL
external.libraries.windows = opengl32, glu32, shell32, ole32, libcurl, \
                             advapi32, psapi, glib-2.0, glibmm, \
                             gdi32, user32, Netapi32, pthreadVC, winmm, \
                             libgcc, ws2_32, wmvcore, dxguid, dsound, sigc, \
                             libpng, libtiff, libjpeg, libungif, Imath, Iphlpapi 
external.libraries.linux = pthread, curl, png, tiff, jpeg
variant.libraries = aslbase, aslmath, aslnet, aslipc, aslserial, aslzip, domxml, \
                    y60render, y60scene, y60base, y60inet, y60jslib, y60glutil, y60gltext, y60image,  \
                    y60video, jsspidermonkey, y60modelling, y60input, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++
source.files.windows =
source.files.linux =
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp
test.sources.windows =
test.sources.linux =
exclude.test.sources =
exclude.test.sources.windows = testMarch.tst.cpp
exclude.test.sources.linux =

# Comma separated list of
# external libraries for tests
external.test.libraries = ofstd, dcmdata, dcmimage, dcmjpeg, dcmimgle, ijg16, ijg8, ijg12, avcodec, avformat, Cg, CgGL
external.test.libraries.windows =
external.test.libraries.linux =

# Comma separated list of
# variant libraries for tests
variant.test.libraries = aslbase, aslmath, aslnet, aslipc, aslserial, aslzip, domxml, \
                    y60render, y60scene, y60base, y60inet, y60jslib, y60glutil, y60gltext, y60image,  \
                    y60video, jsspidermonkey, y60modelling, y60input, paintlib
