subdirs = y60, greplace, maya-xport, \
          GenCompressedTex, GenMovie, CompareImage, GenCubemap, CheckSchema, \
           
#subdirs = y60, greplace, maya-xport, \
#          GenCompressedTex, GenMovie, CompareImage, GenCubemap, CheckSchema
subdirs.windows = rfid_server, cinemax, watchdog, acgtkshell, rendergirl
subdirs.linux = acspidermonkey, acgtkshell, rendergirl, watchdog
