subdirs = y60, greplace, maya-xport, \
          GenCompressedTex, GenMovie, CompareImage, GenCubemap, CheckSchema
#subdirs = y60, greplace, maya-xport, \
#          GenCompressedTex, GenMovie, CompareImage, GenCubemap, CheckSchema
subdirs.windows = acgtkshell, rendergirl, watchdog, rfid_server, cinemax
subdirs.linux = acgtkshell, rendergirl, acspidermonkey
