subdirs = y60, acgtkshell, greplace, maya-xport, watchdog, rendergirl, \
          GenCompressedTex, GenMovie, CompareImage, GenCubemap, CheckSchema
subdirs.windows = rfid_server, rendergirl
#, acgtkshell #disabled until newer version of GTKmm fixes vuild issues
subdirs.linux = acspidermonkey, acgtkshell, rendergirl
